/* Remove a formatação padrão do navegador */
* {
    margin: 0;
    padding: 0;
}

/* Fontes */
@font-face {
    font-family: "roboto";
    src: url(/fontes/Roboto/Roboto-Regular.ttf);

    font-family: "montserrat";
    src: url(/fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
 }

/* Paleta de Cores */
:root {
    --azulEscuro: #0C1D25;
    --azulClaro: #104C64;
    --laranja: #BF4410;
}

/* html */
html {
  height: 100%;
}

body {
  background-color: var(--azulEscuro);
  font-family: "roboto", "montserrat", sans-serif;
}

/* Header */
.banner img {
  width: 100%;
  margin-top: -20px;
}

/* Nav */
nav {
  background-color: #0c1d2552;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 24px;
  font-weight: lighter;
  margin: 0 20px 0 0;
}

.navbar-nav .nav-link:hover {
  color: #929292;
  text-decoration: underline;
}

.barraOculta {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.barraOculta a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.barraOculta a:hover {
  color: red;
}

.barraOculta .fecharBarraOculta {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Responsividade - Barra Oculta */
@media screen and (max-height: 450px) {
  .barraOculta {padding-top: 15px;}
  .barraOculta a {font-size: 18px;}
}


/* Barra de Pesquisa */
.search {
  --input-line: white;
  --input-text-color: white;
  --input-text-hover-color: transparent;
  --input-border-color: #ffffff30;
  --input-border-hover-color: #24242430;
  --input-bg-color: #ffffff30;
  --search-max-width: 250px;
  --search-min-width: 150px;
  --border-radius: 10px;
  --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
}

.search-box {
  max-width: var(--search-max-width);
  min-width: var(--search-min-width);
  height: 35px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  padding: 5px 15px;
  background: var(--input-bg-color);
  transition: var(--transition-cubic-bezier);
}

.search-box:hover {
  border-color: var(--input-border-hover-color);
}

/*Section input*/
.search-field {
  position: relative;
  width: 100%;
  height: 100%;
  left: -5px;
  border: 0;
}

.input {
  width: calc(100% - 29px);
  height: 100%;
  border: 0;
  border-color: transparent;
  font-size: 1rem;
  padding-right: 0px;
  color: var(--input-line);
  background: var(--input-bg-color);
  border-right: 2px solid var(--input-border-color);
  outline: none;
}

.input::-webkit-input-placeholder {
  color: var(--input-text-color);
}

.input::-moz-input-placeholder {
  color: var(--input-text-color);
}

.input::-ms-input-placeholder {
  color: var(--input-text-color);
}

.input:focus::-webkit-input-placeholder {
  color: var(--input-text-hover-color);
}

.input:focus::-moz-input-placeholder {
  color: var(--input-text-hover-color);
}

.input:focus::-ms-input-placeholder {
  color: var(--input-text-hover-color);
}

/*Search button*/
.search-box-icon {
  width: 52px;
  height: 35px;
  position: absolute;
  top: -6px;
  right: -21px;
  background: transparent;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
}

.search-box-icon:hover {
  background: var(--input-border-color);
}

.btn-icon-content {
  width: 52px;
  height: 35px;
  top: -6px;
  right: -21px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
  opacity: .4;
}

.btn-icon-content:hover {
  opacity: .8;
}

.search-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 7px;
  right: 15px;
}


/* Main */
main {
    position: relative;
}

.areaBatalhas {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.cardEventos {
  background-color: #d9d9d94a;
  width: 20%;
  height: auto;
}

/* Responsividade da Area de Batalhas */
        @media (max-width: 1200px) {
          .areaBatalhas {
            align-items: center;
            flex-wrap: wrap;
          }
          .cardEventos {
              flex: 1 1 calc(15% - 20px);
              height: 200px;
          }
      }

      @media (max-width: 768px) {
          .cardEventos {
              flex: 1 1 calc(50% - 20px);
          }
      }

      @media (max-width: 576px) {
          .cardEventos {
              flex: 1 1 100%;
          }
      }


/*Mapa do Rap*/
.mapaRap {
  position: relative;
  text-align: center;
  color: white;

  margin-top: 600px;
}

.conteudo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer */
footer {
    text-align: center;
    bottom: 0;
    width: 100%;
}
.rodapeSuperior {
    background-color: var(--azulEscuro);
    padding: 20px;
    margin: 0;
}
.rodapeInferior {
    background-color: var(--azulClaro);
}
.rodapeInferior p {
    color: white;
    padding: 5px 0;
    margin: 0;
}