/* Fontes */
@font-face {
    font-family: "roboto";
    src: url(/fontes/Roboto/Roboto-Regular.ttf);
  
    font-family: "montserrat";
    src: url(/fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
  }
  
  /* Paleta de Cores */
  :root {
    --azulEscuro: #0C1D25;
    --azulClaro: #104C64;
    --laranja: #BF4410;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tudo {
    display: grid;
    grid-template-columns: 4fr 4fr;
    background-image: url('../imagens/fundoGaleria.jpg');
    background-size: cover;
    flex-direction: column;
    /* Uma coluna em telas pequenas */
    background-position: center;
    height: 100vh;
    filter: contrast(1.3) brightness(1.3) saturate(1.3) blur(-1px);
    transition: filter 0.3s ease;
}

.class1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.class2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Alinha os botões verticalmente */
    overflow-y: hidden;
    /* Evita barra de rolagem */
}

h1,
p {
    color: #fff;
    font-family: sans-serif;
}

.botao1 button {
    width: 80%;
    cursor: pointer;
    background-color: orangered;
    border-radius: 10px;
    margin-top: 20px;
    /* Ajustado para diminuir o espaço */
    font-size: 20px;
    margin-top: 40%;
    font-family: sans-serif;
    margin-left: -1%;
}

.btn-primary {
    border-color: orangered;
}

.form-control:focus {
    color: #212529;
    background-color: #ffffff00;
    border-color: orangered;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0);
    color: #fff;
}

.conta {
    font-size: 12px;
    font-weight: 100;
    margin-left: 9%;
    font-family: inherit;
    margin-top: 10px;
    /* Ajustado para ficar mais próximo */
}

.pesquisa input {
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    border: solid rgba(0, 0, 0, 0);
    font-size: 14px;
    width: 100%;
    font-family: sans-serif;
    border-radius: 16px;
    margin-bottom: 10px;
    /* Ajustado para ficar mais próximo */
}

.pesquisa p {
    margin-bottom: 5px;
    /* Reduz a margem para juntar os campos */
}

.seta-esquerda {
    margin-bottom: 20px;
    /* Ajustado para ficar mais próximo */
    margin-top: -40%;
    font-size: 40px;
}

/* Trabalhando com a responsividade de telas */

/* Estilos para telas grandes */
@media (min-width: 1200px) {

    .pesquisa {

        width: 160%;

    }
}

.botao1 {

margin-left: 3%;

}

.conta {

 margin-left: -3%;

}

@media (max-width: 768px) {
    .tudo {
        grid-template-columns: 1.8fr 2fr;
        /* Uma coluna em telas pequenas */
        height: auto;
        /* Permite que a altura se ajuste ao conteúdo */
        filter: none;
        /* Remove o filtro em telas pequenas */
    }

    .class1,
    .class2 {
        width: 90%;
        /* Ajusta a largura das classes para telas pequenas */
    }

    .botao1 button {
        width: 90%;
        /* Ajusta a largura do botão */
        margin-top: 20px;
        /* Ajusta o espaço em cima do botão */
    }

    .conta {
        margin-left: -1%;
        /* Ajusta a margem esquerda para telas pequenas */
    }

    .pesquisa input {
        font-size: 16px;
        /* Aumenta o tamanho da fonte para melhor legibilidade */
    }

    .pesquisa {

        width: 170%;

    }

    .seta-esquerda {
        font-size: 30px;
        /* Ajusta o tamanho do ícone */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
        /* Ajusta o tamanho do título */
    }

    p {
        font-size: 14px;
        /* Ajusta o tamanho do texto */
    }

    .botao1 button {
        font-size: 18px;
        /* Ajusta o tamanho da fonte do botão */
    }
}

/* Fim de trabalhando com a responsividade de telas */